extends layout

block content
    section.container
        form(method="POST")
            div.form-group
                input(name="to_title", placeholder="제목", value=todoVO.t_title).form-control
            div.form-group
                input(name="to_write", placeholder="작성자", value=todoVO.t_write).form-control
            div.form-group
                input(name="to_text", placeholder="내용", value=todoVO.t_text).form-control
            .form-group
                button 전송