extends layout

block content
    section.container
        form(method="POST")
            div.form-group
                input(name="b_title", placeholder="제목").form-control
            div.form-group
                input(name="b_write", placeholder="작성자").form-control
            div.form-group
                input(name="b_text", placeholder="내용").form-control
            .form-group
                button 전송