section.todo_main {
  border: 1px solid green;
  border-radius: 15px;
  width: 50%;
  margin: 30px auto;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
}

section.todo_main h1 {
  border-radius: 12px 12px 0px 0px;
  margin: 0 auto;
  background-color: green;
  text-align: center;
  padding: 2rem;
}

section.todo_main form {
  width: 95%;
  display: flex;
  margin: 0px auto;
}

section.todo_main form input {
  display: inline-block;
  flex: 5;
  margin: 3px;
  border-radius: 5px;
  border: 2px solid #ddd;
}

section.todo_main form button {
  border-radius: 5px;
  border: 1px solid green;
  outline: none;
  display: inline-block;
  flex: 1;
  color: white;
  background-color: green;
  padding: 5px 12px;
  margin: 3px;
  cursor: pointer;
}

section.todo_main form button:hover {
  border: 1px solid green;
  background-color: white;
  color: green;
}

article.todo_list {
  border: 1px dashed green;
  border-radius: 10px;
  margin: 5px;
}

article.todo_list ul li {
  width: 93%;
  padding: 8px;
  border-bottom: 1px solid green;
}
