section {
  border: 2px solid rgb(92, 131, 214);
  border-radius: 15px;
  width: 50%;
  margin: 30px auto;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
}

section h1 {
  margin: 0 auto;
  background-color: rgb(92, 131, 214);
  text-align: center;
  padding: 2rem;
  border: 2px solid rgb(92, 131, 214);
  border-radius: 13px 13px 0px 0px;
}

section form {
  text-align: center;
  justify-content: center;
}

section form input {
  margin: 10px 3px;
  border: none;
  border-bottom: 1px solid rgb(92, 131, 214);
}

section form button#btn-save {
  padding: 4px 8px;
  background-color: rgb(150, 61, 120);
  border: 1px solid rgb(150, 61, 120);
  margin: 3px;
  border-radius: 5px;
  color: white;
}

section form button#btn-save:hover {
  border: 1px solid rgb(150, 61, 120);
  background-color: white;
  color: rgb(150, 61, 120);
}
